<link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Darker+Grotesque&display=swap" rel="stylesheet">

<div class="navbar">
  <div class="logo">
    <h1>Breaking Barries</h1>
  </div>

  <div class="botones-menu">
      <button class="btn" mat-button [routerLink]="['/home']">Home</button>
    <button class="btn" mat-button (click)="openDialog()">Ingresar</button>  
    <button class="btn" mat-button [routerLink]="['/register']" >Registrarse</button>
    <button class="btn" mat-button [routerLink]="['/perfil']" >Perfil</button>
    <button class="btn" mat-button>Favoritos</button>
    <button class="btn" mat-button >Salir</button>
  </div>



</div>