<div class="container">
  <div class="example-container">
    <mat-form-field class="subtitulo">
      <input  matInput placeholder="Nombre">
    </mat-form-field>

    <mat-form-field class="subtitulo">
      <textarea  matInput placeholder="Correo"></textarea>
    </mat-form-field>

    <mat-form-field class="subtitulo" >
      <textarea  matInput placeholder="Direccion"></textarea>
    </mat-form-field>

    <button class="titulo" mat-button [routerLink]="['/perfil']"> Registrarse </button>
  </div>

</div>