<link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Darker+Grotesque&display=swap" rel="stylesheet">

<div class="all-card">

  <mat-card class="example-card">

    <p class="titulo">MARCA</p>
    <img mat-card-image
      src="https://static.zara.net/photos///2019/I/0/1/p/7522/257/630/2/w/1024/7522257630_1_1_1.jpg?ts=1567703031652"
      alt="Photo of a Shiba Inu">

    <mat-card-content>
      <p>Tipo</p>
      <p>Color</p>
      <p>Precio</p>
      <p>Talla</p>
    </mat-card-content>

    
    <mat-card-actions class="button">
      <button class="botoncitos" mat-button>+</button>
      <button class="botoncitos" mat-button>Favoritos</button>
    </mat-card-actions>

  </mat-card>

</div>
