.all-card{
    
    width: 20vw;
    height: 90vh;
    border-radius: .25rem;
    border-left: 5px;
}

.titulo{
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    display: flex;
    justify-content: center;}

p{
    
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px;
}

.example-card{
    border: solid 1px black !important;

}

.button{
    margin-left: 50px;

}

.botoncitos{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px;
}