<link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Darker+Grotesque&display=swap" rel="stylesheet">

<form class="example-form modal">
  <mat-form-field class="example-full-width">
    <input class="subtitulo" matInput placeholder="Usuario" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input class="subtitulo" matInput placeholder="Contrasena" value="">
  </mat-form-field>
</form>

<button class="titulo" mat-button [routerLink]="['/perfil']" >Ingresar</button>