<link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Darker+Grotesque&display=swap" rel="stylesheet">


<div class="allr">

    <div class="all-card">

        <mat-card class="example-card">
            <p class="titulo">Nombre</p>
            <img mat-card-image
                src="https://static.zara.net/photos///2019/I/0/1/p/7522/257/630/2/w/1024/7522257630_1_1_1.jpg?ts=1567703031652"
                alt="Photo of a Shiba Inu">
        </mat-card>

    </div>



    
        <mat-list class="container">
            <mat-list-item  class="subtitulo">Nombre:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="subtitulo">Pedidos:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="subtitulo">Favoritos</mat-list-item>
        </mat-list>

    

</div>